body {
   background: url(ded.jpeg);
   background-position: 20%;
}

   .login_div1 
{
   background: white;
   padding: 10px;
   float: none;
   border-radius: 15px;
}

.login_div2
{
   background: white;
   padding: 10px;
   float:none;
   border-radius: 20px;
}

#player1_name
 {

         display: inline-block;
         margin-left: 20px;
        
}

#player2_name 
{

   display: inline-block;
   margin-left: 20px;
  
}
